<!DOCTYPE HTML>
<html>
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
	<link rel='stylesheet' href="{% static 'main.css' %}" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{% static 'world_map.js' %}"></script>
        <script src="{% static 'spameggs.js' %}"></script>
        <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.1.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <!-- Optional theme -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
    </head>
    <body>

    <h4 id="title">CO2</h2>
    <h4 id="year">2010</h2>

    <div id='thechart'></div>
        <!-- old school.... -->
        <div class="panel">
            <div class="btn-group data-dropdown">
                <button type="button" class="btn btn-default dropdown-toggle"
                   data-toggle="dropdown"> Data <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <!-- WHAAAAAAT -->
                    <li data-type="fname" data-fname="data-per-capita">
                        <a href="#">CO2</a>
                    </li>
                    <li data-type="fname" data-fname="land-under-cereal-production">
                        <a href="#">Land Under Cereal Production</a>
                    </li>

                    <li data-type="fname" data-fname="poverty-headcount-ratio-at-rural-poverty-line">
                        <a href="#">Poverty headcount ratio at rural poverty line</a>
                    </li>
                    <li data-type="fname" data-fname="agricultural-land">
                        <a href="#">Agricultural Land</a>
                    </li>

                    <li data-type="fname" data-fname="cereal-yield">
                        <a href="#">Cereal yield (kg per hectare)</a>
                    </li>
                    <li data-type="fname" data-fname="agriculture-value-added">
                        <a href="#">Agriculture, value added (% of GDP)</a>
                    </li>
                    <li data-type="fname" data-fname="inflation-consumer-prices">
                        <a href="#">Inflation, consumer prices (annual %)</a>
                    </li>

                    <li data-type="fname" data-fname="inflation-gdp-deflator">
                        <a href="#">Inflation, GDP deflator (annual %)</a>
                    </li>
                    <li data-type="fname" data-fname="employees-agriculture-male">
                        <a href="#">Employees, agriculture, male (% of male employment)</a>
                    </li>
                    <li data-type="fname" data-fname="employees-agriculture-female">
                        <a href="#">Employees, agriculture, female (% of female employment)</a>
                    </li>

                    <li data-type="fname" data-fname="plant-species-threatened">
                        <a href="#">Plant species (higher), threatened </a>
                    </li>
                </ul>
            </div>
            <div class="btn-group data-dropdown">
                <button type="button" class="btn btn-default dropdown-toggle" 
                    data-toggle="dropdown">Year <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <!-- WHAAAAAT -->
                    <li data-year="1990" data-type="year"><a href="#">1990</a></li>
                    <li data-year="1991" data-type="year"><a href="#">1991</a></li>
                    <li data-year="1992" data-type="year"><a href="#">1992</a></li>
                    <li data-year="1993" data-type="year"><a href="#">1993</a></li>
                    <li data-year="1994" data-type="year"><a href="#">1994</a></li>
                    <li data-year="1995" data-type="year"><a href="#">1995</a></li>
                    <li data-year="1996" data-type="year"><a href="#">1996</a></li>
                    <li data-year="1997" data-type="year"><a href="#">1997</a></li>
                    <li data-year="1998" data-type="year"><a href="#">1998</a></li>
                    <li data-year="1999" data-type="year"><a href="#">1999</a></li>

                    <li data-year="2001" data-type="year"><a href="#">2001</a></li>
                    <li data-year="2002" data-type="year"><a href="#">2002</a></li>
                    <li data-year="2003" data-type="year"><a href="#">2003</a></li>
                    <li data-year="2004" data-type="year"><a href="#">2004</a></li>
                    <li data-year="2005" data-type="year"><a href="#">2005</a></li>
                    <li data-year="2006" data-type="year"><a href="#">2006</a></li>
                    <li data-year="2007" data-type="year"><a href="#">2007</a></li>
                    <li data-year="2008" data-type="year"><a href="#">2008</a></li>
                    <li data-year="2009" data-type="year"><a href="#">2009</a></li>
                    <li data-year="2010" data-type="year"><a href="#">2010</a></li>
                    <li data-year="2011" data-type="year"><a href="#">2011</a></li>
                    <li data-year="2012" data-type="year"><a href="#">2012</a></li>
                    <li data-year="2013" data-type="year"><a href="#">2013</a></li>
                </ul>
            </div>
            <button id="search">Search</button>

	    <p>You can compare up to 4 countries by holding Shift while selecting them</p>
        </div>
        <!-- end of oldschool... -->
        <div id="container"></div>
        <!--         <script defer="defer">
        </script> -->
    </body>
</html>
