<!DOCTYPE HTML>
<html>
    <head>
        {% load staticfiles %}
        <style>
            body {
                margin: 0px;
                padding: 0px;
            }
            #tango {
                position: absolute;
                top: 10px;
                left: 10px;
                padding: 10px;
            }
            #container {
                display: inline-block;
                overflow: hidden;
                height: 1200px;
                width: 1200px;
                background-position: 1px 1px;
            }
        </style>
    </head>
    <body>
        <div id="container"></div>
        <script src="{% static 'jquery-2.1.0.min.js' %}"></script>
        <script src="{% static 'world_map.js' %}"></script>
        <script src="{% static 'spameggs.js' %}"></script>
        <script src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v5.0.1.min.js"></script>
<!--         <script defer="defer">

        </script> -->
    </body>
</html>
